# Classic ignores
**/__pycache__
**/.pytest_cache
**/.vscode
**/.idea
**/.pyc
**/.DS_Store

# Models
# *.h5

# Confusion matrix
Gender_confusion_matrix.png

# Data files
data/**

# Jupyter notebooks
*.ipynb
**/.ipynb_checkpoints

# Python scripts
preprocess_data.py
